.footer{
    position: absolute;
    background-color: #191919;
    width: 100%;
    color: #fff;
}
.icon{
    width: 50px;
    opacity: 0.5;
    filter: saturate(0);
}
.icon:hover{
    opacity: 1;
    transition: 0.5s;
    filter: saturate(100%);
}
.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links-profile{
    display: flex;
}

@media screen and (max-width: 480px) {
    .footer-links{
        flex-direction: column;
        padding: 20px;
    }
    .links-profile{
        flex-direction: column;
    }
}