@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.ft{
  margin-top: 220px;
}

@media screen and (max-width: 480px) {
  body{
    background-image: url('/background-mobile.jpg');
  }
  .input-search{
    border-bottom: 2px solid white;
    outline: none;
    text-align: center;
    width: 250px;
  }
  .icon-search{
    width: 40px;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70%;
    color: #fff;
  }
  .weather{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .celsius{
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .information-text{
    font-size: 1.2rem;
  }
  .icon-weather{
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  .ft{
    margin-top: 200px;
  }
}